html,body {
    color: #333
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1, .text-center {
    text-align: center;
}

.feedback {
    bottom: 45%;
    right: 20px;
    color: white;
    position: fixed;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #007BFF;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

    &.recieved-feedback {
        color: #333;
        box-shadow: none;
        position: relative;
        pointer-events: none;
        background: none transparent;
    }
}